meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title 식량과 사회 영상모음
link(href="/inspinia/css/bootstrap.min.css" rel="stylesheet")
link(href="/inspinia/font-awesome/css/font-awesome.css" rel="stylesheet")
link(href="/inspinia/css/animate.css" rel="stylesheet")
link(href="/inspinia/css/style.css" rel="stylesheet")
link(href="/inspinia/css/plugins/footable/footable.core.css" rel="stylesheet")